{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4 text-center">Наши работы</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for item in items %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            <!-- Картинка с data-bs-toggle -->
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}">
                <img src="{{ item.image.url }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="{{ item.title }}">
            </a>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description|truncatewords:20 }}</p>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">
          <div class="modal-body p-0">
            <img src="{{ item.image.url }}" class="img-fluid w-100" alt="{{ item.title }}">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
